body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.App {

}
.header {
    background-color: lime;
    display: flex;
    color: white;
    gap: 10px;
}
.content {
    background-color: lightblue;
}
.footer {
    background-color: orange;
    display: flex;
    gap: 8px;
}

.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 60%)
}
.modal {
    width: 400px;
    height: 400px;
    background-color: black;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainPage {
    width: 100vw;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 15px;
}

.todoList {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.todocart {
    width: 70%;
    border: 1px solid lime;
    padding: 20px;
}

.active {
    color: orangered;
    font-size: 30px;
}